<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IRA - Iniciar sesión &middot;</title>

    <link rel="stylesheet" href="css/signin.css">
</head>

<body ng-app="ira.signIn">

<div ui-view></div>

<!-- build:js({bower_components,public}) js/signin.js -->
<script src="angular/angular.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="components/blocks/httpInterceptor.service.js"></script>

<script src="components/common/index.js"></script>
<script src="components/common/enterFocus.directive.js"></script>

<script src="components/signIn/signIn.module.js"></script>
<script src="components/signIn/passwordRecovery.component.js"></script>
<script src="components/signIn/signIn.component.js"></script>
<!-- endbuild -->
</body>
</html>
