<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a ui-sref="users.index" class="btn btn-sm btn-primary back-button">
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="col-sm-9"><h2>Usuario</h2></div>
    </div>
    <form name="userForm" ng-submit="$ctrl.save()" role="form">
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="name">Nombre</label>
                <input type="text" id="name" name="name" ng-model="$ctrl.user.name" required enter-focus
                       class="form-control"/>
            </div>
            <div class="col-sm-4">
                <label for="surname">Apellido</label>
                <input type="text" id="surname" name="surname" ng-model="$ctrl.user.surname" required
                       class="form-control"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" ng-model="$ctrl.user._id" maxlength="20"
                       ng-pattern="/^[^\s]+$/" ng-disabled="$ctrl.editing" required class="form-control"/>
                <span ng-show="userForm.username.$invalid && !userForm.username.$error.required">No debe contener espacios.</span>
            </div>
            <div class="col-sm-4">
                <label for="email">Mail</label>
                <input type="email" id="email" name="email" ng-model="$ctrl.user.email" required class="form-control"/>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-5 btn-group">
                    <label class="btn btn-primary" ng-model="$ctrl.userPermision" uib-btn-radio="'admin'">Es administrador del SEL</label>
                    <label class="btn btn-primary" ng-model="$ctrl.userPermision" uib-btn-radio="'dpe'">Es DPE</label>
                    <label class="btn btn-primary" ng-model="$ctrl.userPermision" uib-btn-radio="'rome'">Es ROME</label>
            </div>
            <div class="col-sm-7">
                <label class="fa fa-magic btn btn-primary" ng-if="$ctrl.userPermision == 'admin'">
                    Usuario administrador
                </label>
                <label class="fa fa-institution btn btn-primary" ng-if="$ctrl.userPermision == 'dpe'"
                       for="userDpe">
                    DPE
                </label>
                <input type="text" id="userDpe" name="userDpe" ng-model="$ctrl.user.dpe" required
                       class="form-control" ng-if="$ctrl.userPermision == 'dpe'"/>

                <label class="fa fa-home btn btn-primary" ng-if="$ctrl.userPermision == 'rome'"
                       for="userRome">
                    ROME
                </label>
                <input type="text" id="userRome" name="userRome" ng-model="$ctrl.user.rome" required
                       class="form-control" ng-if="$ctrl.userPermision == 'rome'"/>


            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <input type="checkbox" id="disabled" name="disabled" ng-model="$ctrl.user.disabled"/>
                &nbsp;<label for="disabled">Bloqueado</label>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-4 pull-right">
                <button type="submit" ng-disabled="!$ctrl.userPermision || $ctrl.saving || userForm.$invalid"
                        class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span> Guardar
                </button>
            </div>
        </div>
    </form>
</div>