<div class="container">
    <div class="row">
        <fira-encabezado dpe="$ctrl.filters.dpe"></fira-encabezado>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-home"></span> Romes</h2>
        </div>
    </div>
    <table class="table table-striped table-responsive table-vertical-middle">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Población (*)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rome in $ctrl.romes">
            <td>{{::rome.rome}}</td>
            <td>{{::rome.nombre}}</td>
            <td>{{::rome.tipo.nombreTipoGL}}</td>
            <td>{{::rome.poblacion2010}}</td>
            <td>
                <a ui-sref="fira.index({rome: rome.rome})"  title="Registros" class="btn btn-primary btn-sm">
                    <span class="fa fa-tasks"></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>