<div class="modal-header">
    <div class="row text-right">
        <div class="col-sm-12">
            <a ng-click="$ctrl.dismiss()" class="btn">
                <span class="fa fa-times"></span>
            </a>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <h3>
                <span class="fa fa-database"></span> Variable
            </h3>
        </div>
    </div>
    <form name="formAgregarVariable" ng-submit="$ctrl.accept()">
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="nombreVariable">Nombre de la variable</label>
                <busca-variable id="nombreVariable" name="nombreVariable" ng-model="$ctrl.variableId" ng-required="true"
                                on-select="$ctrl.seleccionarVariable(variable)"></busca-variable>
            </div>
            <div class="col-sm-4">
                <label for="nombreRegistro">Nombre del registro</label>
                <input type="text" id="nombreRegistro" name="nombreRegistro" ng-model="$ctrl.resolve.variable.nombreRegistro"
                       class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label for="apartado">Apartado</label>
                <input type="text" id="apartado" name="apartado" ng-model="$ctrl.resolve.variable.apartado"
                       class="form-control"
                       required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label for="especifica">Es específica</label>
                <span class="input-group">
                    <input type="checkbox" id="especifica" name="especifica" ng-model="$ctrl.resolve.variable.especifica">
                </span>
            </div>
            <div class="col-sm-4">
                <label for="unidadMedida">Unidad de medida</label>
                <input type="text" id="unidadMedida" name="unidadMedida" ng-model="$ctrl.resolve.variable.unidadMedida"
                       class="form-control"
                       required>
            </div>
            <div class="col-sm-4">
                <label for="detalle">Detalle</label>
                <input type="text" id="detalle" name="detalle"
                       ng-model="$ctrl.resolve.variable.detalle" class="form-control" required>
            </div>
            <div class="col-sm-2">
                <label for="activo">Activa</label>
                 <span class="input-group">
                    <input type="checkbox" id="activo" name="activo" ng-model="$ctrl.resolve.variable.activo">
                </span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="fechaAlta">Fecha de Alta</label>
                <datepicker id="fechaAlta" name="fechaAlta" ng-model="$ctrl.resolve.variable.fechaAltaVariable"></datepicker>
            </div>
            <div class="col-sm-4">
                <label for="fechaBaja">Fecha de Baja</label>
                <datepicker id="fechaBaja" name="fechaBaja" ng-model="$ctrl.resolve.variable.fechaBajaVariable"></datepicker>
            </div>
            <div class="col-sm-4">
                <label for="fechaModif">Fecha de Modificación</label>
                <datepicker id="fechaModif" name="fechaModif" ng-model="$ctrl.resolve.variable.fechaModificacionVariable"></datepicker>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="variableNro">Número de variable</label>
                <input type="text" id="variableNro" name="variableNro" ng-model="$ctrl.resolve.variable.variableNro"
                       class="form-control" required>
            </div>
            <br>
            <div class="col-sm-8 text-right">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span> Guardar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" ng-show="$ctrl.showError">
                <strong>Error</strong> Deben estar todos los campos completos.
            </div>
        </div>
    </form>
</div>
