<div class="modal-header">
    <div class="row text-right">
        <div class="col-sm-12">
            <a ng-click="$ctrl.dismiss()" class="btn">
                <span class="fa fa-times"></span>
            </a>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <h3>
                <span class="fa fa-database"></span> Variable
            </h3>
        </div>
    </div>
    <form name="formAgregarVariable" ng-submit="$ctrl.accept()">
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="nombreVariable">Nombre de la variable</label>
                <input type="text" id="nombreVariable" name="nombreVariable" ng-model="$ctrl.resolve.variable.nombreVariable"
                       class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label for="nombreRegistro">Nombre de la variable</label>
                <input type="text" id="nombreRegistro" name="nombreRegistro" ng-model="$ctrl.resolve.variable.nombreRegistro"
                       class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label for="apartado">Apartado</label>
                <input type="text" id="apartado" name="apartado" ng-model="$ctrl.resolve.variable.apartado"
                       class="form-control"
                       required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2">
                <label for="especifica">Es específica</label>
                <input type="text" id="especifica" name="especifica" ng-model="$ctrl.resolve.variable.especifica" class="form-control">
            </div>
            <div class="col-sm-4">
                <label for="unidadMedida">Unidad de medida</label>
                <input type="text" id="unidadMedida" name="unidadMedida" ng-model="$ctrl.resolve.variable.unidadMedida"
                       class="form-control"
                       required>
            </div>
            <div class="col-sm-4">
                <label for="detalle">Detalle</label>
                <input type="text" id="detalle" name="detalle"
                       ng-model="$ctrl.resolve.variable.detalle" class="form-control" required>
            </div>
            <div class="col-sm-2">
                <label for="activo">Activa</label>
                <input type="text" id="activo" name="activo" ng-model="$ctrl.resolve.variable.activo"
                       class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="fechaAlta">Fecha de Alta</label>
                <p class="input-group">
                    <input type="text" id="fechaAlta" name="fechaAlta" ng-model="$ctrl.registro.fechaAltaReg"
                           uib-datepicker-popup="dd/MM/yyyy"
                           is-open="$ctrl.fechaAltaOpen"
                           class="form-control"/>
                    <span class="input-group-btn">
                                <button type="button" ng-click="$ctrl.openFechaAlta()" class="btn btn-default">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                </p>
            </div>
            <div class="col-sm-4">
                <label for="fechaAlta">Fecha de Baja</label>
                <p class="input-group">
                    <input type="text" id="fechaBaja" name="fechaBaja" ng-model="$ctrl.registro.fechaBajaReg"
                           uib-datepicker-popup="dd/MM/yyyy"
                           is-open="$ctrl.fechaBajaOpen"
                           class="form-control"/>
                    <span class="input-group-btn">
                                <button type="button" ng-click="$ctrl.openFechaBaja()" class="btn btn-default">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                </p>
            </div>
            <div class="col-sm-4">
                <label for="fechaModif">Fecha de Modificación</label>
                <p class="input-group">
                    <input type="text" id="fechaModif" name="fechaModif" ng-model="$ctrl.registro.fechaModifReg"
                           uib-datepicker-popup="dd/MM/yyyy"
                           is-open="$ctrl.fechaModifOpen"
                           class="form-control"/>
                    <span class="input-group-btn">
                                <button type="button" ng-click="$ctrl.openFechaModif()" class="btn btn-default">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="variableNro">Número de variable</label>
                <input type="text" id="variableNro" name="variableNro" ng-model="$ctrl.resolve.variable.variableNro"
                       class="form-control" required>
            </div>
            <br>
            <div class="col-sm-8 text-right">
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-floppy-o"></span> Guardar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-danger" ng-show="$ctrl.showError">
                <strong>Error</strong> Deben estar todos los campos completos.
            </div>
        </div>
    </form>
</div>
