<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a ui-sref="fira.index" class="btn btn-sm btn-primary back-button">
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="col-sm-9">
            <h2>
                Detalle del registro: <strong>{{ $ctrl.registro.nombreRegistro }}</strong>
            </h2>
        </div>
    </div>
    <div class="row">
        <fira-encabezado ng-model="$ctrl.dato"></fira-encabezado>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Datos del registro</div>
                <div class="panel-body">
                    <div class="row form-group form-inline">
                        <div class="col-sm-4">
                            <h4>Sector <span class="label label-default">{{$ctrl.registro.sector}}</span></h4>
                            <h5>{{$ctrl.registro.obsSector}}</h5>
                        </div>
                        <div class="col-sm-4">
                            <h4>Nombre del Registro <span class="label label-default">{{$ctrl.registro.nombreRegistro}}</span></h4>
                            <h5>{{$ctrl.registro.obsNomRegistro}}</h5>
                        </div>
                        <div class="col-sm-4">
                            <h4>Informatizado <span class="label label-default">{{$ctrl.registro.informatizado | yesNo}}</span></h4>
                            <h5>{{$ctrl.registro.obsInformatizado}}</h5>
                        </div>
                    </div>
                    <div class="row form-group form-inline">
                        <div class="col-sm-4">
                            <h4>Fecha de alta <span class="label label-default">{{$ctrl.registro.fechaAltaReg | date}}</span></h4>
                            <h5>{{$ctrl.registro.obsFechaAltaReg}}</h5>
                        </div>
                        <div class="col-sm-4">
                            <h4>Fecha de baja <span class="label label-default">{{$ctrl.registro.fechaBajaReg | date}}</span></h4>
                            <h5>{{$ctrl.registro.obsFechaBajaReg}}</h5>
                        </div>
                        <div class="col-sm-4">
                            <h4>Fecha de modificación <span class="label label-default">{{$ctrl.registro.fechaModifReg | date}}</span></h4>
                            <h5>{{$ctrl.registro.obsFechaModifReg}}</h5>
                        </div>
                    </div>
                    <div class="row form-group form-inline">
                        <div class="col-sm-6">
                            <h4>Nombre y apellido <span class="label label-default">{{$ctrl.registro.nomApellido}}</span></h4>
                            <h5>{{$ctrl.registro.obsNomApellido}}</h5>
                        </div>
                        <div class="col-sm-6">
                            <h4>Puesto <span class="label label-default">{{$ctrl.registro.puestoOrg}}</span></h4>
                            <h5>{{$ctrl.registro.obsPuestoOrg}}</h5>
                        </div>
                    </div>
                    <div class="row form-group form-inline">
                        <div class="col-sm-6">
                            <h4>Teléfono <span class="label label-default">{{$ctrl.registro.telefono}}</span></h4>
                            <h5>{{$ctrl.registro.obsTelefono}}</h5>
                        </div>
                        <div class="col-sm-6">
                            <h4>E-Mail <span class="label label-default">{{$ctrl.registro.email}}</span></h4>
                            <h5>{{$ctrl.registro.obsEmail}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Variables</div>
                <div class="panel-body">
                    <table class="table table-striped table-responsive table-vertical-middle">
                        <thead>
                            <tr>
                                <th>Número de variable</th>
                                <th>Registro</th>
                                <th>Apartado</th>
                                <th>Variable</th>
                                <th>Fecha de alta</th>
                                <th>Fecha de baja</th>
                                <th>Fecha de modificación</th>
                                <th>Detalle</th>
                                <th>Unidad de medida</th>
                                <th>Específica</th>
                                <th>Activa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="variable in $ctrl.registro.variables">
                                <td>{{::variable.variableNro}}</td>
                                <td>{{::variable.nombreRegistro}}</td>
                                <td>{{::variable.apartado}}</td>
                                <td>{{::variable.nombreVariable}}</td>
                                <td>{{::variable.fechaAltaVariable | date}}</td>
                                <td>{{::variable.fechaBajaVariable | date}}</td>
                                <td>{{::variable.fechaModificacionVariable | date}}</td>
                                <td>{{::variable.detalle}}</td>
                                <td>{{::variable.unidadMedida}}</td>
                                <td>{{::variable.especifica | yesNo}}</td>
                                <td>{{::variable.activo | yesNo}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="button" onclick="history.back()" class="bottom" value="OK">
    </div>
</div>