<div class="container">
    <div class="row">
        <fira-encabezado></fira-encabezado>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <a ui-sref="fira.index" class="btn btn-sm btn-primary back-button">
                <span class="fa fa-arrow-left"></span>
            </a>
        </div>
        <div class="col-sm-9">
            <h2>
                Registro
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="nuevoRegistro" ng-submit="$ctrl.save()" role="form">
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos del registro</div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="sector">Sector</label>
                                <input type="text" id="sector" name="sector" ng-model="$ctrl.registro.sector" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsSector">Observaciones Sector</label>
                                <textarea id="obsSector" name="obsSector" ng-model="$ctrl.registro.obsSector" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="nombreRegistro">Nombre del Registro</label>
                                <input type="text" id="nombreRegistro" name="nombreRegistro" ng-model="$ctrl.registro.nombreRegistro" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsNomRegistro">Observaciones Nombre</label>
                                <textarea id="obsNomRegistro" name="obsNomRegistro" ng-model="$ctrl.registro.obsNomRegistro" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="informatizado">Informatizado </label>
                                <span class="input-group">
                                    <input type="checkbox" id="informatizado" name="informatizado"
                                           ng-model="$ctrl.registro.informatizado">
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <label for="obsInformatizado">Observaciones</label>
                                <textarea id="obsInformatizado" name="obsInformatizado" ng-model="$ctrl.registro.obsInformatizado" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label for="fechaAlta">Fecha de Alta</label>
                                <datepicker id="fechaAlta" name="fechaAlta" ng-model="$ctrl.registro.fechaAltaReg"></datepicker>
                            </div>
                            <div class="col-sm-offset-2 col-sm-8">
                                <label for="obsFechaAlta">Observaciones</label>
                                <textarea id="obsFechaAlta" name="obsFechaAlta" ng-model="$ctrl.registro.obsFechaAltaReg"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label for="fechaBaja">Fecha de Baja</label>
                                <datepicker id="fechaBaja" name="fechaBaja" ng-model="$ctrl.registro.fechaBajaReg"></datepicker>
                            </div>
                            <div class="col-sm-offset-2 col-sm-8">
                                <label for="obsFechaBaja">Observaciones</label>
                                <textarea id="obsFechaBaja" name="obsFechaBaja" ng-model="$ctrl.registro.obsFechaBajaReg"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label for="fechaModif">Fecha de Modificación</label>
                                <datepicker id="fechaModif" name="fechaModif" ng-model="$ctrl.registro.fechaModifReg"></datepicker>
                            </div>
                            <div class="col-sm-offset-2 col-sm-8">
                                <label for="obsFechaModif">Observaciones</label>
                                <textarea id="obsFechaModif" name="obsFechaModif" ng-model="$ctrl.registro.obsFechaModifReg"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Datos del referente</div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="nomApellido">Nombre y Apellido</label>
                                <input type="text" id="nomApellido" name="nomApellido" ng-model="$ctrl.registro.nomApellido" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsNomApellido">Observaciones</label>
                                <textarea id="obsNomApellido" name="obsNomApellido" ng-model="$ctrl.registro.obsNomApellido" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="puestoOrg">Puesto</label>
                                <input type="text" id="puestoOrg" name="puestoOrg" ng-model="$ctrl.registro.puestoOrg" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsPuestoOrg">Observaciones</label>
                                <textarea id="obsPuestoOrg" name="obsPuestoOrg" ng-model="$ctrl.registro.obsPuestoOrg" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="telefono">Teléfono</label>
                                <input type="text" id="telefono" name="telefono" ng-model="$ctrl.registro.telefono" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsTelefono">Observaciones</label>
                                <textarea id="obsTelefono" name="obsTelefono" ng-model="$ctrl.registro.obsTelefono" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <label for="email">Observaciones</label>
                                <input type="text" id="email" name="email" ng-model="$ctrl.registro.email" class="form-control">
                            </div>
                            <div class="col-sm-8">
                                <label for="obsEmail">E-Mail</label>
                                <textarea id="obsEmail" name="obsEmail" ng-model="$ctrl.registro.obsEmail" class="form-control"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Variables</div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <button type="button" ng-click="$ctrl.addVariable()" class="btn btn-primary">
                                    <span class="fa fa-plus"></span> Agregar
                                </button>
                            </div>
                            <div class="col-sm-6 text-right">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-floppy-o"></span> Guardar
                                </button>
                            </div>
                        </div>
                        <div class="row" ng-show="$ctrl.registro.variables.length">
                            <div class="col-sm-12">
                                <table class="table table-striped table-responsive table-vertical-middle">
                                    <thead>
                                    <tr>
                                        <th>Sección</th>
                                        <th>Número de orden</th>
                                        <th>Nombre</th>
                                        <th>Detalle</th>
                                        <th>Unidad de medida</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="variable in $ctrl.registro.variables | filter: deleted">
                                        <td>{{variable.section}}</td>
                                        <td>{{$index + 1}}</td>
                                        <td>{{variable.name}}</td>
                                        <td>{{variable.description.detail}}</td>
                                        <td>{{variable.description.measure.unidadMedida}}</td>
                                        <td class="text-center">
                                            <a ng-click="$ctrl.editVariable(variable)" title="Editar"
                                               class="btn btn-sm">
                                                <span class="fa fa-pencil"></span>
                                            </a>
                                            <a ng-click="$ctrl.deleteVariable(variable)" title="Eliminar de la lista"
                                               class="btn btn-sm">
                                                <span class="fa fa-trash text-danger"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
