    <div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Provincia</th>
            <th>Gobierno Local</th>
            <th>Tipo de  Gobienrno Local</th>
            <th>Código de Gobierno Local</th>
            <th>Población CNPHV-2010</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{$ctrl.dato.provincia}}</td>
            <td>{{$ctrl.dato.gobLocal}}</td>
            <td>{{$ctrl.dato.tipoGobLocal}}</td>
            <td>{{$ctrl.dato.codGobLocal}}</td>
            <td>{{$ctrl.dato.poblacion}}</td>
        </tr>
        </tbody>
    </table>
</div>
