<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2><span class="fa fa-tasks"></span> Registros</h2>
        </div>
        <div class="col-sm-4 text-right">
            <br/>
            <a ui-sref="fira.new({id: registro._id})" class="btn btn-primary"><span class="fa fa-tasks"></span> Nuevo</a>
        </div>
    </div>
    <table class="table table-striped table-responsive table-vertical-middle">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Nombre</th>
                <th>Informatizado</th>
                <th>Fecha de alta</th>
                <th>Fecha de baja</th>
                <th>Fecha de modificación</th>
                <th>Nombre y apellido</th>
                <th>Puesto en la organización</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="registro in $ctrl.registros">
            <td>{{::registro.sector}}</td>
            <td>{{::registro.nombreRegistro}}</td>
            <td>{{::registro.informatizado | yesNo}}</td>
            <td>{{::registro.fechaAltaReg | date}}</td>
            <td>{{::registro.fechaBajaReg | date}}</td>
            <td>{{::registro.fechaModifReg | date}}</td>
            <td>{{::registro.nomApellido}}</td>
            <td>{{::registro.puestoOrg}}</td>
            <td>{{::registro.telefono}}</td>
            <td>{{::registro.email}}</td>
            <td>
                <a ui-sref="fira.detalle({id: registro._id})" class="btn btn-info btn-sm" title="Ver detalles del registro">
                    <span class="fa fa-eye"></span>
                </a>
                <a ui-sref="fira.new({id: registro._id})"  title="Modificar registro" class="btn btn-primary btn-sm">
                    <span class="fa fa-pencil"></span>
                </a>
                <button title="Quitar registro" ng-click="$ctrl.delete(registro._id)" class="btn btn-danger btn-sm">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
            <input type="button" ui-sref="fira.new" value="Nuevo Registro">
    </div>
    <!--    <div>
            Estás en: <span>{{$ctrl.registros}}</span>
        </div>-->
</div>